extends ../layout.jade
block contenido
 div(id="imagenes")
  for imagen in imagenes
   div(class="img-container")
    a(href="/app/imagenes/#{imagen._id}")
     h2=imagen.title
    img(src="/estatico/imagenes/#{imagen._id}.#{imagen.extension}" class="main-img")
    if(typeof imagen.creator != "undefined")
     p Por #{imagen.creator.email}
 script(src="/estatico/js/socket.io.js")
 script(id="image-template" type="text/x-handlebars-template")
  div(class="img-container")
   a(href="/app/imagenes/{{id}}")
    h2{{title}}
   img(src="/estatico/imagenes/{{id}}.{{estension}}" class="main-img")
 script(src="/estatico/js/client.js")

 