extends moduls/struct.jade

block libs
	link(rel="stylesheet" type="text/css" href="../estatico/css/vews/profile.css")
block content
	div.section#section_1
		label.title Perfil
		if(messages.info)
			.message.success
			center
				span(style='font-size: 2em; color:#32cc32;')= messages.info
		div.image
			img(src="../estatico/img/ecoweb.jpg")
		div.dual_content
			div.step_content
				label.title_3 Nombre
				span #{user.username}
			div.step_content
				label.title_3 Email
				span #{user.email}
			div.step_content
				label.title_3 Telefono
				span #{user.telefono}
			div.step_content
				label.title_3 Rol
				span #{user.nivel}

	div.bottom_menu

		form(action="/panel_gestion_usuario/"  method="get")
			input(type="text",name="id",value="#{user._id}" hidden )
			.button_content.end
				button Desempeño usuario.

		form(action="/panel_administrador/tarjetasusuario"  method="get")
			input(type="text",name="id",value="#{user._id}" hidden )
			div.bottom_menu
			.button_content.end
				button Tarjetas usuario.
				
		form(action="/panel_administrador/editarusuario"  method="get")
			input(type="text",name="id",value="#{user._id}" hidden )
			.button_content.end
				button Editar perfil.	
		
		form(action="/panel_administrador/cambiarcontra"  method="get")
			input(type="text",name="id",value="#{user._id}" hidden )
			.button_content.end
				button Cambiar contraseña.		



				
block libs_js