extends ../layout.jade
block contenido
 div(class="col-md-8 remove-float center-block text-center big-top-space")
  h1 Tarjeta
  h2 Color:#{tarjeta.color}
  h2 Version:#{tarjeta.version}
  h2 Estado:#{tarjeta.estado}
  h2 Descripcion:#{tarjeta.descripcion}
  h2 Descripcion:#{tarjeta.proyecto}
  
  